@use '@angular/material' as mat;

.header {
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-primary),
        )
    );
}

.spacer {
    flex: 1 1 auto;
}
