@use '@angular/material' as mat;

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-secondary),
        )
    );
}

.spacer {
    flex: 1 1 auto;
}

