@use '@angular/material' as mat;

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    // @include mat.toolbar-overrides(
    //     (
    //         container-background-color: var(--mat-sys-secondary),
    //     )
    // );
    background-color: rgb(10, 10, 10);
}

.spacer {
    flex: 1 1 auto;
}

