.footer-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;
}
