:root {
    --primary-color: #2274A5;
    --clickable-color: #FADF63;
    /* TODO: figure out better bg color, also includes reworking other colors */
    --background-color: #84AE9A;
    /* --background-color: rgb(34,34,34); */
    --link-color: #FADF63;
    --text-primary-color: #393424;
    --text-secondary-color: rgb(102,194,255);
    --header-primary-color: #E6AF2E;
    --header-secondary-color: #FADF63;
    --blog-date-color: rgb(73, 92, 105);
}

html, body {
    height: 100%;
    width: 80%;
    margin: auto;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    @media only screen and (max-width: 1200px) {
        width: 85%;
    }
    @media only screen and (max-width: 992px) {
        width: 90%;
    }
    @media only screen and (max-width: 768px) {
        width: 95%;
    }
}

.secondary-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--header-primary-color);
}

h2 {
    color: var(--header-primary-color);
}

p {
    color: var(--text-primary-color);
    font-size: 1.25em;
}

.content {
    flex: 1 0 auto;
}

a {
    color: var(--clickable-color);
    text-decoration: none;
}

hr, .break {
    color: var(--primary-color);
}
