html, body {
    height: 100%;
}

body {
    background-color: rgb(34,34,34);
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: rgb(100,100,255);
}

p {
    color: white;
}

.content {
    flex: 1 0 auto;
}
