---
import BrandybytegamesLayout from '../layouts/brandybytegamesLayout.astro';
---
<BrandybytegamesLayout>
	<h2>What is Brandy Byte Games</h2>
	<p>
		Brandy Byte Games is a game studio created by a software engineer with
		a passion for game development.
	</p>
	<h2>Who is Brandy?</h2>
	<p>
		Brandy is my German Shepherd. She's a silly dog who loves playing with
		her frisbee and lounging about when I'm working.
	</p>
	<h2>What kind of games do you make?</h2>
	<p>
		Currently, that's a secret :)
	</p>
</BrandybytegamesLayout>
