---
import BrandybytegamesLayout from '../layouts/brandybytegamesLayout.astro';
---
<BrandybytegamesLayout>
    <img src="/brandy.png" alt="Brandy Byte Games">
    <h1>
        brandybytegames.com is currently under construction.
    </h1>
    <p>I'm still working on creating this site, please check back later!</p>
</BrandybytegamesLayout>
