---
import { Image } from 'astro:assets';
import BrandyImg from '../assets/brandy.png';
import BrandybytegamesLayout from '../layouts/brandybytegamesLayout.astro';
---
<BrandybytegamesLayout>
    <Image src={BrandyImg} alt="Brandy Byte Games" width="286" height="480" />
    <h1>
        brandybytegames.com is currently under construction.
    </h1>
    <p>I'm still working on creating this site, please check back later!</p>
</BrandybytegamesLayout>
