---
import "../styles/footer.css"
---
<div class="footer-flex-container">
    <div class="games-links">
        <h2>Games</h2>
        <p>:)</p>
    </div>
    <div class="social-links">
        <h2>Social</h2>
        <p>:)</p>
    </div>
    <p>&copy; 2025 Brandy Byte Games. All rights reserved.</p>
</div>
