---
import '../styles/header.css';
---

<div class="flex-container">
    <a href="/">
        <p>Brandy Byte Games</p>
    </a>
    <div class="inner-flex">
        <a href="/about">
            About
        </a>
        <a href="/contact">
            Contact
        </a>
    </div>
</div>
<div class="content-spacer"></div>
